<div *transloco="let t; read: 'createMember'" class="px-6 overflow-y-hidden">
  <div class="flex w-full justify-between items-center">
    <h1 mat-dialog-title>{{ t("editMember") }}</h1>
    <button mat-mini-fab color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <form [formGroup]="memberInfo">
    <div class="flex gap-6 flex-wrap w-[33em]">
      <!-- Input Nome -->
      <div class="nomeInputField">
        <p class="text-lg relative top-2">{{ t("name") }} *</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            [placeholder]="t('name')"
            formControlName="name"
            #inputNome
            maxlength="255"
          />
          <mat-error *ngIf="memberInfo.get('name')?.hasError('required')">
            {{ t("nameEmptyErrorMessage") }}
          </mat-error>
          <mat-hint
            align="end"
            class="font-medium"
            [ngClass]="{ 'text-red-600': inputNome.value.length == 255 }"
            >{{ inputNome.value.length }} / 255</mat-hint
          >
        </mat-form-field>
      </div>

      <!-- Input CPF -->
      <div class="cpfInputField">
        <p class="text-lg relative top-2">CPF *</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="CPF"
            formControlName="cpf"
            #inputCpf
            maxlength="11"
          />
          <mat-error *ngIf="memberInfo.get('cpf')?.hasError('required')">
            {{ t("emptyErrorMessage", { value: "CPF" }) }}
          </mat-error>
          <mat-error
            *ngIf="
              memberInfo.get('cpf')?.hasError('maxlength') ||
              memberInfo.get('cpf')?.hasError('minlength')
            "
          >
            {{ t("cpfLengthErrorMessage") }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Input Email -->
      <div class="emailInputField">
        <p class="text-lg relative top-2">Email *</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            #inputCpf
            maxlength="255"
          />
          <mat-error *ngIf="memberInfo.get('email')?.hasError('required')">
            {{ t("emptyErrorMessage", { value: "Email" }) }}
          </mat-error>
          <mat-error *ngIf="memberInfo.get('email')?.hasError('email')">
            {{ t("invalidEmailErrorMessage") }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Input Estado Civil -->
      <div class="estadoCivilInputField">
        <p class="text-lg relative top-2">{{ t("maritalStatus") }} *</p>
        <mat-form-field appearance="outline">
          <mat-select formControlName="maritalStatus" #inputEstadoCivil>
            <mat-option [value]="1">Solteiro</mat-option>
            <mat-option [value]="2">Casado</mat-option>
            <mat-option [value]="3">Separado</mat-option>
            <mat-option [value]="4">Divorciado</mat-option>
            <mat-option [value]="5">Viúvo</mat-option>
          </mat-select>
          <mat-error
            *ngIf="memberInfo.get('maritalStatus')?.hasError('required')"
          >
            {{ t("maritalStatusEmptyErrorMessage") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="buttons w-full flex justify-end gap-2 py-4">
        <button mat-raised-button mat-dialog-close="canceled" color="warn">
          {{ t("cancel") }}
        </button>
        <button mat-raised-button color="primary" (click)="save()">
          {{ t("submit") }}
        </button>
      </div>
    </div>
  </form>
</div>
