<div *transloco="let t; read: 'editCommission'" class="px-6 overflow-y-hidden">
  <h1 mat-dialog-title>{{ t("editCommission") }}</h1>

  <form [formGroup]="commissionForm">
    <div class="flex">
      <div class="nomeInputField" class="w-full">
        <p class="text-lg relative top-2">{{ t("commissionType") }} *</p>
        <mat-form-field appearance="outline" class="w-full">
          <mat-select
            [placeholder]="t('commissionType')"
            formControlName="commissionTypeId"
            #inputNome
          >
            <mat-option
              *ngFor="let commissionType of commissionTypes"
              [value]="commissionType.id"
              >{{ commissionType.descricao }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="commissionForm.get('commissionTypeId')?.hasError('required')"
          >
            {{ t("commissionTypeEmptyErrorMessage") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="buttons w-full flex justify-end gap-2 py-4">
      <button mat-raised-button mat-dialog-close="canceled" color="warn">
        {{ t("cancel") }}
      </button>
      <button mat-raised-button color="primary" (click)="create()">
        {{ t("create") }}
      </button>
    </div>
  </form>
</div>
