<div
  class="px-6 overflow-y-hidden"
>
  <h1 mat-dialog-title>Criar um tipo de despesa</h1>

  <form [formGroup]="expenseTypeForm">
    <div class="flex">
      <div class="nomeInputField" class="w-full">
        <p class="text-lg relative top-2">description</p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            placeholder="description"
            formControlName="description"
            #inputNome
            maxlength="255"
          />
          <mat-error
            *ngIf="expenseTypeForm.get('description')?.hasError('required')"
          >
          Descricao Vazia
          </mat-error>
          <mat-hint
            align="end"
            class="font-medium"
            [ngClass]="{ 'text-red-600': inputNome.value.length == 255 }"
            >{{ inputNome.value.length }} / 255</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <div class="buttons w-full flex justify-end gap-2 py-4">
      <button mat-raised-button mat-dialog-close="canceled" color="warn">
        cancel
      </button>
      <button mat-raised-button color="primary" (click)="submit()">
        create
      </button>
    </div>
  </form>
</div>
