<div *transloco="let t; read: 'navigation'">
  <nav class="flex items-center justify-between px-8 select-none">
    <a routerLink="">
      <img
        src="assets/image/logoLions.png"
        alt="Logo Lions International"
        class="w-[7.5rem]"
      />
    </a>
    @if (this.isAdmin) {
    <div class="flex justify-center items-center gap-3 px-8 h-full w-full">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="rounded-full h-9 text-4xl mx-12 relative top-[-6px]"
      >
        <span class="navbarText font-bold text-2xl tracking-wider"
          >{{ t("controlPanel") }}
          <mat-icon
            aria-hidden="false"
            fontIcon="keyboard_arrow_down"
            class="relative top-1 iconArrowDown"
          ></mat-icon>
        </span>
      </button>
      <mat-menu #menu>
        <a routerLink="control-panel/members" mat-menu-item>
          {{ t("members") }}
        </a>
        <a routerLink="control-panel/commissions" mat-menu-item>
          {{ t("comissions") }}
        </a>
      </mat-menu>
      <a
        routerLink="monthly-fees"
        class="navbarText font-bold text-2xl tracking-wider"
      >
        {{ t("checkMonthlyFees") }}
      </a>
    </div>
    } @else {
    <div class="flex justify-center items-center gap-3 px-8 h-full w-full">
      <button
        mat-icon-button
        class="rounded-full h-9 text-4xl mx-12 relative top-[-6px]"
      >
        <a routerLink="/" class="navbarText font-bold text-2xl tracking-wider"
          >{{ t("home") }}
        </a>
      </button>
    </div>
    }
    <div class="user flex">
      @if (nomeDoMembro) {
      <div
        class="helloMessage relative top-1 h-auto text-2xl tracking-wider whitespace-nowrap"
      >
        <p class="font-bold">
          {{ t("helloMessage", { memberName: nomeDoMembro }) }}
        </p>
      </div>
      }
      <app-user-menu [isLogged]="isLogged"></app-user-menu>
    </div>
    <app-transloco-button></app-transloco-button>
  </nav>
</div>
