<div class="login h-[88vh] relative flex items-center justify-center">
  <div
    class="background absolute w-[45vw] left-[50%] transform -translate-x-1/2 grayscale select-none"
  >
    <img src="assets/image/logoLions.png" />
  </div>
  <div class="rounded-xl bg-white w-[25em] h-[33em] z-10 px-10">
    <form [formGroup]="loginFormGroup" class="flex flex-col gap-4">
      <div class="loginHeader h-[30%] flex items-center justify-center mt-4">
        <div class="image w-[5em] select-none">
          <img src="assets/image/logoLions.png" />
        </div>
      </div>
      <div class="inputs">
        <p class="text-lg relative top-2">Nome / Email</p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            placeholder="Insira seu nome ou email"
            formControlName="userOrEmail"
            maxlength="255"
          />
        </mat-form-field>
        <p class="text-lg relative top-2">Senha</p>
        <mat-form-field appearance="outline" class="w-full">
          <input
            matInput
            placeholder="Insira sua senha"
            formControlName="password"
            maxlength="255"
          />
        </mat-form-field>
      </div>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          class="w-full mt-8"
          (click)="login()"
        >
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
